# 6.2: Dictionaries

    A dictionary associates keys with values. Each key maps to  specific value.
    The following table contains examples of dictionaries with their keys, key types, values, and value types.

    |--------------------------------------------------------------------------------|
    | Keys              Key Type    Values                  Value type               |
    |--------------------------------------------------------------------------------|
    | Country names     str         Internet country codes  str                      |
    | Decimal numbers   int         Roman numerals          str                      |
    | States            str         Agricultural products   list of str              |
    | Hospital patients str         Vital signs             tuple of ints and floats |
    |--------------------------------------------------------------------------------|

## Creating a dictionary

In [6]:
country_codes = {'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

### Determining if a Dictionary is Empty

In [8]:
len(country_codes)

3

**You can use a dictionary as a condition to determine if it's empty a non-empty dictionary evaluates to True:**

In [9]:
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is not empty

## Iterating through a Dictionary

In [13]:
days_per_month = {'January': 31, 'February': 28, "March": 31}

for month, days in days_per_month.items():
    print(f'{month} has {days}')

January has 31
February has 28
March has 31

## Basic Dictionary Operations

In [20]:
roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

### Accessing the Value Associated with a Key

In [17]:
roman_numerals['V']

5

### Updating the Value of an Existing Key-Value Pair

In [19]:
roman_numerals['X'] = 10

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10}

### Adding a New Key-Value Pair

In [21]:
roman_numerals['L'] = 50

roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100, 'L': 50}

### Removing a Key-Value Pair

In [22]:
del roman_numerals['III']

roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'X': 100, 'L': 50}

In [23]:
roman_numerals.pop('X')

roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

### Attempting to Access a Nonexistent Key

In [24]:
roman_numerals['III']

KeyError: 'III'

In [27]:
roman_numerals.get('III')

In [28]:
roman_numerals.get('III', 'III not in dictionary')

'III not in dictionary'

In [29]:
roman_numerals.get('V')

5

### Testing Wheter a Dictionary Contains a Specified Key

In [30]:
'V' in roman_numerals

True

In [31]:
'III' in roman_numerals

False

In [32]:
'III' not in roman_numerals

True

## Dictionary Methods keys and values

In [34]:
months = {'January': 1, 'February': 2, 'March': 3}

for month_name in months.keys():
    print(month_name, end=' ')

January February March

In [36]:
months = {'January': 1, 'February': 2, 'March': 3}

for month_number in months.values():
    print(month_number, end=' ')

1 2 3

### Dictionary Views

In [37]:
months_view = months.keys()

for key in months_view:
    print(key, end=' ')

January February March

In [40]:
months['December'] = 12

for key in months_view:
    print(key, end=' ')

January February March December

### Converting Dictionary Keys, Values, and Key-Value Pairs to Lists

In [41]:
list(months.keys())

['January', 'February', 'March', 'December']

In [42]:
list(months.values())

[1, 2, 3, 12]

In [44]:
list(months.items())

[('January', 1), ('February', 2), ('March', 3), ('December', 12)]

### Processing Keys in Sorted Order

In [45]:
for month_name in sorted(months.keys()):
    print(month_name, end=' ')

December February January March

## Dictionary Comparisons

In [46]:
country_capitals1 = {'Belgium': 'Brussels', 'Haiti': 'Port-au-Prince'}
country_capitals2 = {'Nepal': 'Kathmandu', 'Uruguay': 'Montevideo'}
country_capitals3 = {'Haiti': 'Port-au-Prince', 'Belgium': 'Brussels'}

In [48]:
country_capitals1 == country_capitals2

False

In [49]:
country_capitals1 == country_capitals3

True

In [50]:
country_capitals1 != country_capitals2

True

## Example: Dictionary of Student Grades

**Using a dictionary to represent an instructor's grade book.**

In [52]:
grade_book = {
    'Susan': [92, 85, 100],
    'Eduardo': [83, 95, 79],
    'Azizi': [91, 89, 82],
    'Pantipa': [97, 91, 92]
}

all_grades_total = 0
all_grades_count = 0

for name, grades in grade_book.items():
    total = sum(grades)
    print(f'Average for {name} is {total / len(grades):.2f}')
    all_grades_total += total
    all_grades_count += len(grades)

print(f"Class's average is {all_grades_total / all_grades_count:.2f}")

Average for Susan is 92.33
Average for Eduardo is 85.67
Average for Azizi is 87.33
Average for Pantipa is 93.33
Class's average is 89.67

## Example: Word Counts

**Tokenizing a string and counting unique words.**

In [56]:
text = ('this is sample text with several words '
       'this is more sample text with some different words')

word_counts = {}

# count ocurrences of each unique word
for word in text.split():
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

print(f'{"WORD":<12}COUNT')

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')
    
print('\nNumber of unique words:',len(word_counts))

WORD        COUNT
different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

Number of unique words: 10

### Python Standard Library Module collections

In [58]:
from collections import Counter

text = ('this is sample text with several words '
       'this is more sample text with some different words')

counter = Counter(text.split())

for word, count in sorted(word_counts.items()):
    print(f'{word:<12}{count}')
    
print('\nNumber of unique keys:',len(counter.keys()))

different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

Number of unique keys: 10

## Dictionary Method update

In [61]:
country_codes = {}

country_codes.update({'South Africa': 'za'})
country_codes

{'South Africa': 'za'}

In [63]:
country_codes.update(Australia='ar')
country_codes

{'South Africa': 'za', 'Australia': 'ar'}

In [64]:
country_codes.update(Australia='au')
country_codes

{'South Africa': 'za', 'Australia': 'au'}

## Dictionary Comprehension

In [65]:
months = {'January': 1, 'February': 2, 'March': 3}

months2 = {number: name for name, number in months.items()}
months2

{1: 'January', 2: 'February', 3: 'March'}

In [67]:
grades = {'Sue': [98, 87, 94], 'Bob': [84, 95, 91]}

grades2 = {k: sum(v) / len(v) for k, v in grades.items()}
grades2

{'Sue': 93.0, 'Bob': 90.0}