# 6.3: Sets

A set is an unordered collection of *unique* values. Sets may contain only immutable<br>
objects, like strings, ints floats and tuples that contain only immutable elements.<br>
Though sets are iterable, they are not sequences and do not support indexing and slicing<br>
with square brackets, **[ ]**. Dictionaries also do not support slicing.

### Creating a Set with Curly Braces

In [1]:
colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

### Determining a Set's Length

In [2]:
len(colors)

5

### Checking Wether a Value Is in a Set

In [3]:
'red' in colors

True

In [4]:
'purple' in colors

False

In [5]:
'purple' not in colors

True

### Iterating Through a Set

In [6]:
for color in colors:
    print(color.upper(), end=' ')

ORANGE YELLOW BLUE GREEN RED

**Sets are *unordered*, so there's no significance to the iteration order.**

### Creating a Set with the Built-In set Function

In [11]:
numbers = list(range(10)) + list(range(5))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [12]:
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Frozenset: An immutable Set Type

Sets are *mutable* you can add and remove elements, but set *elements* must be *immutable*.<br>
Therefore, a set cannot have other sets as elements. A **frozenset** is an *immutable* set<br>
it cannot be modified after you create it, so a set *can* contain frozensets as elements. The<br>
built-in function **frozenset** creates a frozenset from any iterable.

## Comparing Sets

The following sets contain the same values, so **==** return True and **!=** returns False.

In [15]:
{1, 3, 5} == {3, 5, 1}

True

In [16]:
{1, 3, 5} != {3, 5, 1}

False

The **<** operator test whether the set to its left is a **proper subset** of the one to its<br>
right:

In [13]:
{1, 3, 5} < {3, 5, 1}

False

In [14]:
{1, 3, 5} < {7, 3, 5, 1}

True

The **<=** operator tests whether the set to its left is an **improper subset** of the one to its right:

In [17]:
{1, 3, 5} <= {3, 5, 1}

True

In [18]:
{1, 3, 5} <= {7, 3, 5, 1}

True

You may also check for an improper subset with the set method **issubset**:

In [19]:
{1, 3, 5}.issubset({3, 5, 1})

True

In [21]:
{1, 2}.issubset({3, 5, 1})

False

The **>** operator tests whether the set to its left is a **proper superset** of the one to its right:

In [22]:
{1, 3, 5} > {3, 5, 1}

False

In [23]:
{1, 3, 5, 7} > {3, 5, 1}

True

The **>=** operator test whether the set to its left is an **improper superset** of the one to its right:

In [24]:
{1, 3, 5} >= {3, 5, 1}

True

In [25]:
{1, 3, 5} >= {3, 1}

True

In [26]:
{1, 3} >= {3, 1, 7}

False

You may also check for an improper superset with the set method **issuperset**:

In [27]:
{1, 3, 5}.issuperset({3, 5, 1})

True

In [28]:
{1, 3, 5}.issuperset({3, 2})

False

## Mathematical Set Operations

**This section presents the set type's mathematical operators |, &, - and ^ and the corresponding methods.**

### Union $\cup$

The **union** of two sets is a set consisting of all the unique elements from both sets.

In [29]:
{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [32]:
{1, 3, 5}.union([20, 20, 3, 40, 40])

{1, 3, 5, 20, 40}

### Intersection $\cap$

The **intersection** of two sets is a set consisting of all the unique elements that the two sets<br>
have in common.

In [33]:
{1, 3, 5} & {2, 3, 4}

{3}

In [34]:
{1, 3, 5}.intersection([1, 2, 2, 3, 3, 4, 4])

{1, 3}

### Difference -

The **difference** between two sets is a set consisting of the elements in the left operand that<br>
are not in the right operand.

In [35]:
{1, 3, 5} - {2, 3, 4}

{1, 5}

In [36]:
{1, 3, 5, 7}.difference([2, 2, 3, 3, 4,4 ])

{1, 5, 7}

### Symmetric Difference $\bigtriangleup$

The **symmetric difference** between two sets is a set consisting of the elements of both sets<br>
that are not in common with one another.

In [37]:
{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [38]:
{1, 3, 5, 7}.symmetric_difference([2, 2, 3, 3, 4, 4])

{1, 2, 4, 5, 7}

### Disjoint

Two sets are **disjoint** if they do not have any common elements.

In [39]:
{1, 3, 5}.isdisjoint({2, 4, 6})

True

In [40]:
{1, 3, 5}.isdisjoint({4, 6, 1})

False

## Mutable Set Operators and Methods

The operators and methods presented in the preceding section each result in a *new set*.<br>
Here we discuss operators and methods that modify an *existing* set.

### Mutable Mathematical Set Operators

Like operator |, **union augmented assignment** |= performs a set union operation, but |= <br>
modifies its left operand.

In [42]:
numbers = {1, 3, 5}

numbers |= {2, 3, 4}

numbers

{1, 2, 3, 4, 5}

Similarly, the set type's **update** method performs a union operation modifying the set on<br>
which it's called; the argument can be any iterable.

In [43]:
numbers.update(range(10))

numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### Methods for Adding and Removing Elements

In [46]:
numbers.add(17)
numbers.add(3)

numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [47]:
numbers.remove(3)

numbers

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [48]:
numbers.pop()

0

In [49]:
numbers

{1, 2, 4, 5, 6, 7, 8, 9, 17}

In [50]:
numbers.clear()

numbers

set()

## Set Comprehension

In [53]:
numbers = [1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 10]

evens = {item for item in numbers if item % 2 == 0}

evens

{2, 4, 6, 8, 10}